body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    background-color: #f4f4f4;
};

a{
    background-color: #333333;
    margin: 50px auto;
    width: 60%;
    height: 600px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4f4f4;
    font-size: 26px;
    padding: 15px 0 10px 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.messages{
    width: 90%;
    background-color: #f4f4f4;
    height: 400px;
    margin: 20px auto;
    overflow: auto;
}


.formulaire{
    width: 90%;
    text-align: center;
    margin-left: 35px;
}

.formulaire input[type='text'],select{ 
    width: 48%;
    height: 25px;
    padding: 3px;
    background-color: rgb(66, 65, 65);
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.formulaire input[type='submit'] ,select {
    width: 100%;
    margin-top: 15px;
    height: 25px;
}